/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "San Francisco Light";
  src: url(/assets/fonts/SFProDisplay-Light.ttf);
}

@font-face {
  font-family: "San Francisco Thin";
  src: url(/assets/fonts/SFProDisplay-Thin.ttf);
}

//body {
//  background-color: #2d2f32;
//}
