.calculator {
  width: 227px;
  height: 315px;
  border: 1px solid #2d2f32;
  border-radius: 5px;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  outline-offset: -2px;
  -webkit-box-shadow: 0 0 74px -7px rgba(0, 0, 0, 0.95);
  -moz-box-shadow: 0 0 74px -7px rgba(0, 0, 0, 0.95);
  box-shadow: 0 0 74px -7px rgba(0, 0, 0, 0.95);
  margin: auto;
}

.navi {
  width: 211px;
  height: 12px;
  display: flex;
  padding: 5px 8px 0 8px;
}

.radio_btn {
  margin-right: 8px;
}

.radio_btn input[type="radio"] {
  display: none;
}

.radio_btn label {
  height: 12px;
  width: 12px;
  background-color: #5f6365;
  color: #2d2f32;
  font-family: 'San Francisco Light', 'Helvetica', 'Arial', san-serif;
  font-size: 10px;
  display: block;
  padding: 0 0;
  text-align: center;
  border-radius: 50%;
}

.input {
  width: 197px;
  height: 64px;
  color: white;
  font-family: 'San Francisco Thin', 'Helvetica', 'Arial', san-serif;
  background-color: #2c2f34;
  border-style: none;
  font-size: 50px;
  padding: 0 15px;
  text-align: end;
  outline: none;
}

.buttons {
  width: 227px;
  height: 234px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.buttons button {
  width: 56px;
  height: 46px;
  border-style: none;
  outline: none;
  font-family: 'San Francisco Light', 'Helvetica', 'Arial', san-serif;
}

.dark_grey_btn {
  color: white;
  background-color: #414447;
  font-size: 18px;
}

.light_grey_btn {
  color: white;
  background-color: #5f6365;
  font-size: 20px;
}

.orange_btn {
  color: white;
  background-color: #ff9f0b;
  font-size: 22px;
}
