<!--<div style="width: max-content; margin: auto">-->
<!--  <h2>Summary price: {{ sum }}$</h2>-->
<!--</div>-->

<div style="display: flex">
  <div class="main">
    <div class="market-item"
         *ngFor="let product of products"
    >
      <!--      [style.border]="product.onSale ? '1px solid red' : '0.5px solid grey'"-->
      <!--      [ngClass]="product.onSale ? 'red' : 'none'"-->
      <app-market-item
        [product]="product"
      >
        <!--      (boughtProduct)="receiveNewPrice($event)"-->
      </app-market-item>
    </div>
  </div>

  <app-basket class="basket"></app-basket>
</div>
