<div class="head" appProd
     [onSale]="product.onSale"
     [name]="product.name"
>
  <div style="text-align: center">
    <img src="{{ product.imageUrl }}" alt="">
  </div>
  <span>{{ product.name }}</span>
  <span [ngClass]="{ price: true }">{{ product.price | currency:'USD':false:'3.0-0' }}</span>
  <span [style.fontSize]="'0.8em'" *ngIf="product.onSale">SALE*</span>
  <!--  <br>-->
  <!--  <span [style.visibility]="count > 0 ? 'visible' : 'hidden'">-->
  <!--    Count: {{ count }}-->
  <!--  </span>-->
  <br><br>
  <button class="btn btn-light" (click)="buyProduct(product)">Buy</button>
</div>
