.head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 280px;
  width: 200px;
  background-color: white;
  border: 0.5px solid #f3f3f5;
  border-radius: 10px;
  padding: 15px;
  margin: 5px;
  font-weight: bold;
  img {
    height: 100px;
  }
  .price {
    color: #484bfd;
    font-size: 0.8em;
  }
}
